<h1>Listing folders</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.name, [folder.cabinet, folder] %></td>
        <td><%= folder.description %></td>
        <td><%= link_to 'Edit', edit_cabinet_folder_path(folder.cabinet, folder) %></td>
        <td><%= link_to 'Destroy', [folder.cabinet, folder], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Go To Cabinet Listing To Create a new Folder', cabinets_path %>
