<p id="notice"><%= notice %></p>

<h4>
	<%= @folder.name %>
</h1>
<p>
	<%= @folder.description %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_cabinet_folder_path(@folder.cabinet, @folder), class: "btn btn-default" %>
  <%= link_to 'Back', cabinet_folders_path(@cabinet), class: "btn btn-default" %>
</div>
