<%= simple_form_for(@cabinet) do |f| %>
  <% if @cabinet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cabinet.errors.count, "error") %> prohibited this cabinet from being saved:</h2>

      <ul>
      <% @cabinet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :name, input_html: { class: "string form-control" } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :description, input_html: { class: "text form-control", rows: 10 } %>
    </div>
  </div>
  <br/>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
