<p id="notice"><%= notice %></p>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @cabinet.folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.name, [@cabinet, folder], class: "btn btn-link" %></td>
        <td><%= folder.description %></td>
        <td><%= link_to 'Edit', edit_cabinet_folder_path(@cabinet, folder), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', [@cabinet, folder], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-group">
  <%= link_to 'Edit', edit_cabinet_path(@cabinet), class: "btn btn-default" %>
  <%= link_to 'Add Folder', new_cabinet_folder_path(@cabinet), class: "btn btn-default" %>
  <%= link_to 'Back', cabinets_path, class: "btn btn-default" %>
</div>
